<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.test">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Intro"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".QuestionActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".SelectMusicActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".SelectGenreActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".HowToPlayActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".SetPianoActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ScoreActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".JoinActivity"
            android:screenOrientation="landscape"/>
    </application>
</manifest>